
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
build/tmp/jar/MANIFEST.MF
build/libs/XiaoHongBot-1.0-SNAPSHOT.jar
build/kotlin/XiaoHongBot10SNAPSHOTjar-classes.txt
.idea/vcs.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/vcs-1/gc.properties
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.1/gc.properties
.gradle/7.1/fileHashes/fileHashes.lock
.gradle/7.1/fileHashes/fileHashes.bin
.gradle/7.1/fileChanges/last-build.bin
.gradle/7.1/executionHistory/executionHistory.lock
.gradle/7.1/executionHistory/executionHistory.bin
.gradle/7.1/dependencies-accessors/gc.properties
.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
.idea/vcs.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/uiDesigner.xml
